{% extends 'layout.html' %}

{% block title %}Files{% endblock %}

{% block header %}Gestion des fichiers (CSV et Excel){% endblock %}

{% block content %}
    <div class="info">{{ message | safe }}</div>
    <form action="/files_stat" method="POST" enctype="multipart/form-data">
        <label for="fichier">Sélectionner un fichier à analyser :</label>
        <input type="file" name="fichier" id="fichier" /><br>
        <input type="submit" value="Analyser" />
    </form>
    <div>
        {% for table in tables %}
            {{ table|safe }}
        {% endfor %}
    </div>
{% endblock %}
